.game-round-button {
  --button-size: 4rem;
  align-items: center;
  background: var(--c-neutral-10);
  border: none;
  border-radius: 100%;
  color: var(--c-neutral-50);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  font-size: 3rem;
  height: var(--button-size);
  justify-content: center;
  left: 50%;
  padding: var(--s-big);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -75%);
  width: var(--button-size);
  z-index: 100;
}

[data-active-players="1"] .game-round-button {
  --button-size: 4rem;
  left: calc(100% - var(--button-size));
  transform: translate(-25%, -25%);
}

[data-active-players="3"] .game-round-button {
  top: 45%;
}

.game-round-button:hover svg {
  color: var(--c-blue-50);
}

.game-round-button::after {
  align-items: flex-start;
  background: var(--c-neutral-50);
  border-radius: 100%;
  color: var(--c-white);
  content: attr(data-round);
  display: flex;
  height: 1.5rem;
  justify-content: center;
  font-size: 1rem;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 50%);
  padding-top: 0.1rem;
  pointer-events: none;
  position: absolute;
  width: 1.5rem;
}

.game-round-button--completed::before {
  animation: 2s ease-out 200ms infinite pulse;
  background: transparent;
  border: 0.2rem solid var(--c-blue-50);
  border-radius: 100%;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: -1;
}

@keyframes pulse {
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
