:root {
  /* Mobile Browser Chrome Fitting */
  --vh: 1vh;
  /* Spacing / Sizing */
  --s-small: 0.16rem;
  --s-base: 0.56rem;
  --s-big: 1.24rem;
  /* Colors */
  /* Orange */
  --c-orange-90: #c77e08;
  --c-orange-50: #e79d26;
  --c-orange-30: #ffd794;
  --c-orange-20: #ffdea7;
  --c-orange-10: #fff3df;
  /* Purple */
  --c-purple-90: #5907a1;
  --c-purple-50: #9013fe;
  --c-purple-10: #d7abff;
  /* Blue */
  --c-blue-90: #185091;
  --c-blue-50: #4a90e2;
  --c-blue-10: #a2cdff;
  /* Green */
  --c-green-90: #437c14;
  --c-green-50: #7ed321;
  --c-green-10: #d2f1b3;
  /* Neutral */
  --c-neutral-90: #333333;
  --c-neutral-80: rgb(73, 73, 73);
  --c-neutral-70: #626262;
  --c-neutral-60: #8c8c8c;
  --c-neutral-50: #afafaf;
  --c-neutral-40: #d9d9d9;
  --c-neutral-30: #eaeaea;
  --c-neutral-20: #ececec;
  --c-neutral-10: #f9f9f9;
  /* BW */
  --c-white: #fcfcfc;
  --c-black: #202020;
  /* Theming */
  --t-button-size: 4rem;
  --t-icon-color: var(--c-black);
  --t-background-color: var(--c-white);
  --t-scorelist-color: var(--c-white);
  --t-line-color: var(--c-neutral-20);
  --t-text-color: var(--c-black);
  --t-shadow-color: rgba(82, 59, 59, 0.14);
  --t-input-background: var(--c-neutral-20);
  /* Player 1 */
  --t-player-1-title: var(--c-orange-10);
  --t-player-1-total: var(--c-orange-50);
  --t-player-1-total-text: var(--c-white);
  --t-player-1-highlight: var(--c-orange-50);
  --t-player-1-input: var(--c-orange-10);
  /* Player 2 */
  --t-player-2-title: var(--c-blue-10);
  --t-player-2-total: var(--c-blue-50);
  --t-player-2-total-text: var(--c-white);
  --t-player-2-highlight: var(--c-blue-50);
  --t-player-2-input: var(--c-blue-10);
  /* Player 3 */
  --t-player-3-title: var(--c-green-10);
  --t-player-3-total: var(--c-green-50);
  --t-player-3-total-text: var(--c-white);
  --t-player-3-highlight: var(--c-green-50);
  --t-player-3-input: var(--c-green-10);
  /* Player 4 */
  --t-player-4-title: var(--c-purple-10);
  --t-player-4-total: var(--c-purple-50);
  --t-player-4-total-text: var(--c-white);
  --t-player-4-highlight: var(--c-purple-50);
  --t-player-4-input: var(--c-purple-10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --t-icon-color: var(--c-white);
    --t-background-color: var(--c-black);
    --t-scorelist-color: var(--c-neutral-90);
    --t-line-color: var(--c-neutral-80);
    --t-text-color: var(--c-white);
    --t-shadow-color: rgba(235, 224, 224, 0.14);
    --t-input-background: var(--c-black);
    /* Player 1 */
    --t-player-1-title: var(--c-orange-90);
    --t-player-1-total: var(--c-orange-20);
    --t-player-1-total-text: var(--c-black);
    --t-player-1-highlight: var(--c-orange-20);
    --t-player-1-input: var(--c-orange-50);
    /* Player 2 */
    --t-player-2-title: var(--c-blue-90);
    --t-player-2-total: var(--c-blue-10);
    --t-player-2-total-text: var(--c-black);
    --t-player-2-highlight: var(--c-blue-10);
    --t-player-2-input: var(--c-blue-50);
    /* Player 3 */
    --t-player-3-title: var(--c-green-90);
    --t-player-3-total: var(--c-green-10);
    --t-player-3-total-text: var(--c-black);
    --t-player-3-highlight: var(--c-green-10);
    --t-player-3-input: var(--c-green-50);
    /* Player 4 */
    --t-player-4-title: var(--c-purple-90);
    --t-player-4-total: var(--c-purple-10);
    --t-player-4-total-text: var(--c-white);
    --t-player-4-highlight: var(--c-purple-10);
    --t-player-4-input: var(--c-purple-50);
  }
}

.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh; /* fallback for old browsers */
  height: calc(var(--vh) * 100);
  padding: var(--s-base);
  position: relative;
  text-align: center;
}

/* desktop needs more padding for proportional balance */
@media (min-width: 992px) {
}
