.controls-tray {
  flex: 0 1 auto;
  display: flex;
  grid-area: controls;
  justify-content: space-around;
  padding: var(--s-base) 0 0;
}

/* desktop needs more padding for proportional balance */
@media (min-width: 992px) {
  .controls-tray {
    padding: var(--s-small) 0 var(--s-base);
  }
}

.controls-tray__button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: column;
}

.controls-tray__button,
.controls-tray__button svg {
  color: var(--t-icon-color);
}

.controls-tray__button:disabled {
  cursor: default;
  opacity: 0.4;
}

.controls-tray__button--display {
  cursor: default;
}

.controls-tray__button--display:disabled {
  opacity: 1;
}

.controls-tray__round-icon {
  align-items: center;
  border: 2px dashed currentColor;
  border-radius: var(--s-small);
  display: flex;
  height: 22px;
  margin-bottom: 2px;
  padding: 0 var(--s-base);
  position: relative;
  width: auto;
}

/* :hover is for desktops only */
@media (min-width: 992px) {
  .controls-tray__button:hover,
  .controls-tray__button:hover .controls-tray__round-icon,
  .controls-tray__button:hover svg {
    color: var(--c-blue-50);
  }

  .controls-tray__button:disabled:hover,
  .controls-tray__button:disabled:hover svg {
    color: var(--t-icon-color);
    cursor: default;
  }

  .controls-tray__button--display:hover .controls-tray__round-icon {
    color: var(--t-icon-color);
  }
}
