.controls-tray {
  flex: 0 1 auto;
  display: flex;
  grid-area: controls;
  justify-content: space-around;
}

.controls-tray__button {
  background: none;
  border: none;
  cursor: pointer;
}

.controls-tray__button svg {
  color: var(--t-icon-color);
}

.controls-tray__button:hover svg {
  color: var(--c-blue-50);
}
